@import "../page.module.scss";

.blogContainer {
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
  }
  
  .searchContainer {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .searchInput {
    width: 50%;
    padding: 1rem;
    background-color: rgb(240, 238, 238);
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .searchInput:focus {
    border-color: #007BFF;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  
  .gridItem {
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .postTitle {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .postDescription {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1rem;
  }
  
  @media (max-width: 768px) {
    .gridContainer {
      grid-template-columns: 1fr 1fr;
    }
  
    .searchInput {
      width: 80%;
    }
  }
  
  @media (max-width: 480px) {
    .gridContainer {
      grid-template-columns: 1fr;
    }
  
    .searchInput {
      width: 100%;
    }
  }
  